body {
    margin: 0;
    padding: 0;
}

.list-room {
    border: 1px solid gray;
    background-color: salmon;
    padding: 10px 5px;
    border-radius: 10px;
}

.list-room .room {
    margin-bottom: 1.2em;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
}

.list-room .room:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

.list-room .room[active="true"] {
    background-color: skyblue;
    color: white;
}

.float-items .square-message {
    max-width: 250px;
    border-radius: 10px;
}

.float-items .square-message .messages-info .header-box {
    position: relative;
}

.float-items .square-message .messages-info {
    border-radius: 10px;
    background-color: #1877F2;
    color: white;
    font-size: 0.9em
}

.float-items .square-message .messages-info h4 {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
}


.float-items .square-message .circle-float {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1877F2;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.float-items .square-message .circle-float:hover {
    cursor: pointer;
}

.float-items .square-message .messages {
    margin-bottom: 60px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid gray;
    min-height: 200px;
    background-color: white;
    color: black;
    font-size: 0.8em;
}

.float-items .square-message .messages::-webkit-scrollbar {
    width: 4px;
    background-color: white;
}

.float-items .square-message .messages::-webkit-scrollbar-track {
    background-color: transparent;

}

.float-items .square-message .messages::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 1.2em;
    border: 1px solid transparent;
    background-clip: content-box;

}

.float-items .square-message .messages .room {
    background-color: white;
    padding: 0 5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.float-items .square-message .messages .room:last-child {
    border-bottom: unset;
}

.float-items .square-message .messages .room .avatar {
    border-radius: 50%;
    padding: 2px;
}

.float-items .square-message .messages .room .info {
    padding: 10px;
    flex-grow: 1;
}

.float-items .square-message .messages .room .info .unread-wrapper {
    display: flex;
    column-gap: 5px;
}

.float-items .square-message .messages .room .info .unread {
    font-weight: bold;
    color: blue;
}

.float-items .square-message .messages .room .info .unread-message {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: inline-block;

}

.float-items .square-message .messages .room .info .unread-time {
    width: max-content;
    display: inline-block;

}

.float-items .square-message .messages .room .info p {
    padding: 0;
    margin: 0;
}

.float-items .square-message .messages .room .info p.chat-header {
    font-weight: bold;
}

.float-items .square-message .messages .room:hover {
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

.float-items .square-message .messages .room-opened {
    background-color: skyblue;
    color: white;
}

.float-items .chat-room {
    width: 250px;
    /* height: 350px; */
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.float-items .chat-room .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px;
    background-color: white;
    gap: 5px
}

.float-items .chat-room .chat-header img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.float-items .chat-room .chat-header img:hover{
    cursor: pointer;
}
.float-items .chat-room .chat-header p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
}

.float-items .chat-room .chat-header button {
    padding: 0 10px;
    border: none;
    background-color: unset;

}

.float-items .chat-room .chat-content {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white
}

button:hover {
    cursor: pointer;
}

.float-items .chat-room .chat-content .chat-footer {
    display: flex;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.float-items .chat-room .chat-content .chat-footer .item {
    border-radius: 50%;
    width: auto;
}

.float-items .chat-room .chat-content .chat-footer .item:hover {
    cursor: pointer;
}

.float-items .chat-room .chat-content .chat-footer .group-input {
    display: flex;
    border: 1px solid gray;
    border-radius: 1.2em;
    width: 100%;
    padding: 2px 10px;

}

.float-items .chat-room .chat-content .chat-footer .group-input input,
button {
    border: none;
    background-color: unset;
}

.float-items .chat-room .chat-content .chat-footer .group-input input {
    width: 100%;
    padding-right: 10px
}

.float-items .chat-room .chat-content .chat-footer .group-input input:focus {
    outline: none;
}

.float-items .chat-room .chat-content .table-chat {
    table-layout: fixed;
    width: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    overflow-y: scroll;
    height: 268px;
    box-sizing: border-box;
    padding: 1px 5px;
    font-size: 13px;

}

.float-items .chat-room .chat-content .table-chat div.yours {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.float-items .chat-room .chat-content .table-chat .hidden-time {
    width: 100%;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;
    color: black;
}

.float-items .chat-room .chat-content .table-chat div.yours span {
    /* border-radius: 1.2em; */
    background-color: #1877F2;
    /* color: white;
    padding: 5px 10px;
    max-width: 50%;
    word-break: break-all; */
}

.float-items .chat-room .chat-content .table-chat div {
    display: flex;
    margin-bottom: 5px;
    position: relative;
    flex-wrap: wrap;
}

.float-items .chat-room .chat-content .table-chat div span:hover~.hidden-time {
    display: block;
    visibility: visible;
    opacity: 1;
    text-align: start;
}

.float-items .chat-room .chat-content .table-chat div.yours span:hover~.hidden-time {
    display: block;
    visibility: visible;
    opacity: 1;
    text-align: end;

}

.float-items .chat-room .chat-content .table-chat div span {
    border-radius: 1.2em;
    background-color: #4e4f50;
    padding: 8px 12px;
    max-width: 70%;
    color: white !important;
    word-break: break-word;
}
.float-items .chat-room .chat-content .table-chat div span a{
    color: inherit;
}

.float-items .chat-room .chat-content .table-chat div span a:visited{
    color: inherit;
}



.float-items {
    position: fixed;
    bottom: 0px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    z-index: 2;
}

.float-items .square-message {
    min-width: 75px;
}

.float-items .chat-wrapper {
    width: 270px;
    padding: 0 10px;
}

#messengers {
    display: flex;
    gap: 10px;
}

.chat-header-item {
    padding: 3px 5px;
}

.chat-header-item:hover {
    cursor: pointer;
    background-color: coral !important;
    color: white !important;
    border-radius: 3px;
}

.meeting-room-wrapper {
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    z-index: 100000;
}

.meeting-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    color: red !important;
}

.meeting-room {
    width: 100%;
    height: 100%;
    top: 10%;
}

.D9WLyEQaARfWqCTyVrpU {
    width: 100% !important;
    height: 100% !important;
}

.VNZilENM9Pb7KbRFOkYR:last-of-type {
    width: max-content !important;
}

.sJcgXLqA2Va2eqymgksg {
    width: 50% !important;
}

.icon-meeting:hover {
    cursor: pointer;
}

.icon-meeting {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}