.row-title-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-and-expoet-btn {
    font-size: 1.2em;
    font-weight: 600;
    color: #0c62ad;
    display: flex;
    align-items: center;
}

.title-and-expoet-btn p {
    color: green;
    font-size: 1.2em;
    margin-left: 10px;
}

.state-green {
    color: green
}

.state-yellow {
    color: rgb(255, 187, 0);
}

.state-red {
    color: red
}

.sort-by-date-export-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.2em 0;
   /*  border-bottom: 1px solid #7e7e7e; */
}

.select-date {
    display: flex;
    align-items: center;
    width: 30%;
}

.select-date select {
    border: 1px solid #7e7e7e !important;
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 100%;
}

.limit-title-post .name-user {
    font-weight: 500;
    color: black;
}

.note-title {
    font-weight: 600;
    color: #0c62ad;
}

.input-time-appointment {
    padding: 10px 10px;
    border-radius: 3px;
    width:30%;
}