#loading-button-waiting-res-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.loader-wait-res-admin {
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.class-loading-btn-com-admin {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}